button{
    background-color: rgb(255, 255, 189);
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer;
}

button:hover{
    background-color: white;
}
#rowNumber{
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
} 

table{
    border-collapse: collapse;
    width: 500px;
    margin: 10px;

    border: 1px solid black;
}

tr{
    border-bottom: 1px solid black;
}

td{
    border-right: 1px solid black;
    padding: 5px;
}